.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* Next style was not requested, but I added it so the different grid divs are separated when displayed in the browser. Please note that I added it to all grid divs in the exercise. */
    margin-bottom: 100px;
}

.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-bottom: 100px;
}

.divOne {
    background-color: red;
}

.divTwo {
    background-color: blue;
}

.divThree {
    background-color: yellow;
}

.gridThree {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 500px;
    height: 300px;
    margin-bottom: 100px;
}

.paragraph-div {
    background-color: lightgray;
}

.image-div {
    /* This is to follow the instruction "Use background colors again to help make the sizes clear". It actually almost doesn't show because the picture covers most of this row.  */
    background-color: aqua;
}

.image-div img {
    width: 500px;
    height: 225px;
    object-fit: cover;
}

.gridFour {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: green;
    margin-bottom: 100px;
}

#div-with-id {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridFive {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: green;
    margin-bottom: 100px;
}

#div-with-pictures {
    display: grid;

    /* This is to follow the instruction "The first picture should be twice as wide as the second.", although it does not make the first picture wider as the second, but only its container. I did not actually change the size of the picture to follow this instruction because the next instruction tells me to give both images a specific size. */
    grid-template-columns: 2fr 1fr;
}

#div-with-pictures img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.gridSix {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 500px;
    background-color: lightgray;
    margin-bottom: 100px;
}

.gridSix p {
    font-family: "Lato", sans-serif;
}